.createPost-card {
  padding: 2%;
  margin: 4% 0 5% 0.8%;
  border-radius: 10px;
  box-shadow: 8px 14px 18px -3px rgba(0, 0, 0, 0.25), 0 10px 10px -40px rgba(0, 0, 0, 0.22);
}

.createPost-formField.no-bottom {
  width: 100%;
  padding: 0;
  margin-bottom: -1.25em !important;
}

.discussion-card {
  margin: 0 0.5% 2% 0.5%;
  cursor: pointer;
}

h2 {
  font-size: 1.03rem;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.discussion-title {
  margin-bottom: 1% !important;
}

.discussion-user {
  font-size: 1rem;
}

.liked {
  color: #1bd693 !important;
}

.discussion-icons {
  line-height: 20px;
  padding-right: 32px;
  color: #888888;
}

.person-card {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 5%;
}

ngb-rating {
  color: #ffc107;
  font-size: 2.5rem;
  justify-content: center;
}

.rating-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tab-label-icon {
  margin-right: 8px;
}
