<div
  class="top-level-container"
  style="background-image: url('../assets/img/background/cubes.png')"
>
  <app-navigator class="content"></app-navigator>
  <app-footer style="flex-shrink: 0"></app-footer>
</div>
