<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <mat-tab-group dynamicHeight mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-round tab-label-icon">local_library</mat-icon>
            As Study Pal
          </ng-template>
          <app-offers-tab
            [rating]="getPalRating()"
            [courses]="palCourses"
            [user]="user"
            [isPal]="true"
            [myPals]="myPals"
          ></app-offers-tab>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-round tab-label-icon">support_agent</mat-icon>
            As Tutor
          </ng-template>
          <app-offers-tab
            [courses]="tutorCourses"
            [user]="user"
            [rating]="getTutorRating()"
            [myTutors]="myTutors"
          ></app-offers-tab>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-5">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="/assets/student.png" />
          <mat-card-title>{{ user | name }}</mat-card-title>
          <mat-card-subtitle>{{ user | name: 'tag' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="user-description">
          <p>
            {{ user.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
