<div class="content-container">
  <mat-toolbar class="header-toolbar">
    <div class="container-fluid">
      <div class="row justify-content-space-between align-items-center">
        <div class="col-4">
          <div class="row menu-logo">
            <button
              *ngIf="isLoggedIn()"
              mat-icon-button
              (click)="drawer.toggle()"
              aria-label="Unipal icon-button with menu icon"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <icon class="unipal-logo" routerLink="/homepage">
              <img src="../../../assets/img/unipal-logo/Unipal_logo_sign_only.svg" height="45" />
            </icon>
            <span class="unipal-logo-text" routerLink="/homepage">Unipal</span>
          </div>
        </div>
        <div class="col-4" id="searchBar">
          <div class="row justify-content-center" *ngIf="isLoggedIn()">
            <div class="col-12">
              <form>
                <input
                  class="form-control"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name="searchInput"
                  (focus)="focus = true"
                  (blur)="focus = false"
                  [(ngModel)]="searchInput"
                />
              </form>
            </div>
          </div>
        </div>
        <div class="col-1">
          <button
            mat-icon-button
            id="searchSubmit"
            type="submit"
            *ngIf="isLoggedIn()"
            (click)="executeSearch()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="col-2" style="margin-left: auto" id="rightIcons">
          <div *ngIf="isLoggedIn()" class="row notify-account">
            <div class="col-8" id="username">{{ user.username }}</div>
            <div class="col-4">
              <button mat-icon-button (click)="toggleNotifications()">
                <mat-icon
                  matBadge="{{ counterNewNotifications > 0 ? counterNewNotifications : '' }}"
                  matBadgeSize="medium"
                  matBadgeColor="warn"
                  >notifications</mat-icon
                >
              </button>
              <button mat-icon-button (click)="toggleAccountSettings()">
                <mat-icon>account_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container
    class="sidenav-container-setup website-background"
    style="background-image: url('./../../../assets/img/background/cubes.png')"
  >
    <mat-sidenav #drawer class="sidenav-drawer" [(opened)]="isLeftBarOpen" mode="side">
      <div>
        <p>
          <button mat-raised-button [routerLink]="['/homepage']" class="sidenav-drawer-button">
            <mat-icon id="matIcon" style="vertical-align: text-top">home</mat-icon>
            Homepage
          </button>
        </p>
        <p>
          <button mat-raised-button [routerLink]="['/myCourses']" class="sidenav-drawer-button">
            <mat-icon id="matIcon">menu_book</mat-icon>
            My Courses
          </button>
        </p>
        <p>
          <button mat-raised-button [routerLink]="['/pals-tutors']" class="sidenav-drawer-button">
            <mat-icon id="matIcon">groups</mat-icon>
            My Connections
          </button>
        </p>
      </div>
    </mat-sidenav>
    <mat-sidenav #rightbar class="sidenav-drawer" [(opened)]="isOpen" mode="side" position="end">
      <div>
        <mat-nav-list *ngIf="isNotifications; else showAccount">
          <app-notifications
            [counterNewNotifications]="counterNewNotifications"
            [notifications]="notifications"
            (refreshNotifications)="refreshNotifications()"
          ></app-notifications>
        </mat-nav-list>
        <ng-template #showAccount>
          <app-profile-settings (loggedHandler)="getLoggedHandler($event)"></app-profile-settings>
        </ng-template></div
    ></mat-sidenav>
    <mat-sidenav-content
      style="margin-top: 1.5rem"
      (click)="
        drawer.close();
        isLoggedOut
          ? resetSidebars()
          : isOpen
          ? isNotifications
            ? toggleNotifications()
            : toggleAccountSettings()
          : ''
      "
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
