.content-container {
  display: flex;
  flex-direction: column;
  min-height: 94vh;
}

.container-fluid {
  padding: 0px;
}
.header-toolbar {
  box-shadow: 0px 2px 2px 0px #efefef;
  background-color: #132a3a;
  color: white;
}

.spacerRightButtons {
  flex: 1 1 auto;
}

.spacerSearchBar {
  flex: 1.5 auto;
}

#searchBar {
  text-align: center;
  padding-right: 0;
}

#searchSubmit {
  padding-left: 0;
}

#rightIcons {
  text-align: center;
}

.notify-account {
  padding-right: 35px;
}

#username {
  text-align: right;
  padding: 0;
  margin-top: 5px;
  margin-left: 0;
}

.menu-logo {
  padding-left: 1rem;
}

.unipal-logo {
  margin-left: 0.4rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.unipal-logo-text {
  margin-left: 0.3rem;
  padding-top: 0.3rem;
  cursor: pointer;
  margin-top: 5px;
}

.sidenav-container-setup {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1;
}

.sidenav-drawer {
  padding-top: 0.5rem;
  background-color: whitesmoke;
}

.sidenav-drawer-button {
  text-align: left;
  font-size: 1.4rem;
  width: 250px;
  background-color: #132a3a;
  color: white;
}

#matIcon {
  vertical-align: text-top;
  font-size: 30px;
  vertical-align: sub;
  margin-right: 6px;
}
