.card-margins {
  margin: 1.25rem;
}

.question_post {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px -3px rgba(0, 0, 0, 0.25), 0 10px 10px -40px rgba(0, 0, 0, 0.22);
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}

.question-box {
  padding-left: 1%;
  margin-bottom: 1%;
  font-size: 1.05rem;
}

.question-title {
  padding: 1%;
}

.reply-box {
  border: none;
  box-shadow: none;
}

.reply-box-content {
  margin-bottom: 0;
}

.reply-icons {
  padding-top: 0;
}

.mat-form-field {
  width: 100%;
}

.liked {
  color: #1bd693 !important;
}

.mat-icon {
  line-height: 20px;
  padding-right: 32px;
  color: #888888;
}

.comment-title {
  font-size: 1rem;
  margin-bottom: 5% !important;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 2% 1% 1%;
}

.editing-icons.question {
  padding-top: 0;
  padding-left: 1%;
}

.comment-box-outer {
  margin-bottom: 0;
}

.comment-box {
  padding: 0.5%;
  font-size: 1.05rem;
}

.editing-icons.comment {
  padding-top: 2%;
}

.user {
  cursor: pointer;
}
