<div class="container">
  <div class="row justify-content-center">
    <h1>Introducing Unipal</h1>
  </div>
  <div class="row justify-content-center video">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/TJ2HxOT6tSk"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
