<mat-nav-list *ngIf="isLoggedIn()">
  <div class="container">
    <div class="row">
      <h3 *ngIf="notifications; else noNotifications" id="notificationsTitle">Notifications</h3>
    </div>
    <ng-template #noNotifications>
      <h3 id="noNotifications">
        No notifications are displayed :( Notifications are received when another user responds to a
        question of yours or accepts/rejects your study pal/tutor request.
      </h3>
    </ng-template>
    <div
      *ngFor="let notification of notifications"
      id="notificationRow"
      (click)="readNotification(notification._id); $event.stopPropagation()"
      class="row alert"
    >
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-1" id="col">
            <mat-icon id="smallIcon" *ngIf="notification.isRead == false; else isRead"
              >circle</mat-icon
            >
            <ng-template #isRead
              ><mat-icon id="smallIcon">radio_button_unchecked</mat-icon></ng-template
            >
          </div>
          <div class="col-md-8">
            <p class="notificationContent" *ngIf="notification.requestType === 'pal'">
              {{ notification.fromUser.firstName }} has sent you a request to be their study pal.
              Would you like to accept the request?
            </p>
            <p class="notificationContent" *ngIf="notification.requestType === 'tutor'">
              {{ notification.fromUser.firstName }} has sent you a request to be their study tutor.
              Would you like to accept the request?
            </p>
            <p
              class="notificationContent"
              *ngIf="notification.requestType == 'comment'"
              [routerLink]="['discussion/', notification.discussionId?._id]"
            >
              {{ notification.fromUser | name }} has commented on your question
              {{ notification.discussionId?.title }}
            </p>
            <p
              class="notificationContent"
              *ngIf="notification.requestType == 'response'"
              [routerLink]="['user-profile/', notification.fromUser._id]"
            >
              {{ notification.fromUser | name }} has
              {{ notification.status == 'accepted' ? 'accepted' : 'rejected' }} your request.
            </p>
          </div>
        </div>
      </div>
      <div
        *ngIf="notification.status == 'pending' && notification.requestType != 'comment'"
        class="col-md-1"
        style="margin-left: auto"
      >
        <button
          id="notificationButton"
          (click)="acceptRequest(notification._id, notification.fromUser); $event.stopPropagation()"
          mat-icon-button
        >
          <mat-icon>check</mat-icon>
        </button>
      </div>

      <div
        *ngIf="notification.status == 'pending' && notification.requestType != 'comment'"
        class="col-md-2"
        style="margin-left: auto"
      >
        <button
          id="notificationButton"
          (click)="rejectRequest(notification._id, notification.fromUser); $event.stopPropagation()"
          mat-icon-button
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-nav-list>
