#notificationRow{
  width: 380px;
  background-color: #1bd693;
  margin-top: 0px;
  cursor: pointer;
}

.notificationContent{
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  margin-top: 10px;
}
p{
  width: 200px;
}
#notificationButton{
  margin-top: 15px;
  margin-left: 10px;
  font-family: Quicksand;
}

#notificationsTitle{
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #132A3A;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
#noNotifications{
  word-break: break-word;
  width: 300px;
  padding-left: 20px
}
#smallIcon{
  font-size: 10px;
  top: 40%;
  position: absolute;
}

#col{
  padding: 10px;
  margin-right: 10px;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.alert{
  width:50%;
  margin:20px;
  padding:5px;
  position:relative;
  border-radius:5px;
  box-shadow:0 0 15px 5px #ccc;
}
