<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-12">
      <mat-tab-group mat-align-tabs="center" dynamicHeight mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-round tab-label-icon">local_library</mat-icon>
            My Pals
          </ng-template>
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3"
            *ngIf="palConnections; else elseBlock"
          >
            <div class="col" *ngFor="let palConnection of palConnections">
              <app-person-card
                [connection]="palConnection"
                (reloadPals)="loadPalConnections()"
              ></app-person-card>
            </div>
          </div>
          <ng-template #elseBlock>
            <h1 class="col empty-list-message">You haven't connected with any Study Pal yet!</h1>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-round tab-label-icon">support_agent</mat-icon>
            My Tutors
          </ng-template>

          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3"
            *ngIf="tutorConnections; else elseBlock2"
          >
            <div class="col" *ngFor="let tutorConnection of tutorConnections">
              <app-person-card
                [connection]="tutorConnection"
                (reloadTutors)="loadTutorConnections()"
              ></app-person-card>
            </div>
          </div>
          <ng-template #elseBlock2>
            <h1 class="col empty-list-message">You haven't connected with any Tutor yet!</h1>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-round tab-label-icon">history_edu</mat-icon>
            My Tutees
          </ng-template>

          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3"
            *ngIf="tuteeConnections; else elseBlock3"
          >
            <div class="col" *ngFor="let tuteeConnection of tuteeConnections">
              <app-person-card [connection]="tuteeConnection" [isTutee]="true"></app-person-card>
            </div>
          </div>
          <ng-template #elseBlock3>
            <h1 class="col empty-list-message">You don't have any Tutees yet!</h1>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
