.person-card {
  margin-top: 5%;
  margin-bottom: 5%;
}

mat-card-header {
  cursor: pointer;
}

ngb-rating {
  color: #ffc107;
  font-size: 2.5rem;
}

.rating-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.tab-label-icon {
  margin-right: 8px;
}

.info-row {
  margin: 1rem 0.25rem 0.25rem 0.25rem;
}

.info-row h3 {
  margin-bottom: 0;
  cursor: pointer;
}
