<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <div class="row justify-content-center">
        <div class="col-md" style="margin-bottom: 0.25rem">
          <mat-card>
            <div class="row align-items-center">
              <div class="col-sm-10">
                <div class="row title-row">
                  <mat-card-title>{{ course.name }} </mat-card-title>
                </div>
                <div class="row uni-row align-items-center justify-content-start">
                  <div class="col-auto uni-logo">
                    <img
                      src="\assets\img\university-logos\{{ course.university.logoName }}"
                      [alt]=""
                      height="28px"
                      width="28px"
                    />
                  </div>
                  <div class="col-6 uni-name">{{ course.university.name }}</div>
                </div>
              </div>
              <div class="col">
                <button
                  mat-flat-button
                  [color]="!isJoined ? 'primary' : 'warn'"
                  class="join-button"
                  (click)="!isJoined ? joinCourse() : leaveCourse()"
                >
                  {{ !isJoined ? 'Join' : 'Leave' }}
                </button>
              </div>
            </div>
            <div class="row button-row">
              <div class="col-3">
                <div class="row align-items-center">
                  <mat-icon class="material-icons-round">people_outline</mat-icon>
                  <div class="col">
                    {{
                      (course.members?.length || 0) == 1
                        ? course.members?.length + ' Member'
                        : (course.members?.length || 0) + ' Members'
                    }}
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="row align-items-center">
                  <mat-icon class="material-icons-round">local_library</mat-icon>
                  <div class="col">
                    {{
                      (course.pals?.length || 0) == 1
                        ? course.pals?.length + ' Pal'
                        : (course.pals?.length || 0) + ' Pals'
                    }}
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="row align-items-center">
                  <mat-icon class="material-icons-round">support_agent</mat-icon>
                  <div class="col">
                    {{
                      (course.tutors?.length || 0) == 1
                        ? course.tutors?.length + ' Tutor'
                        : (course.tutors?.length || 0) + ' Tutors'
                    }}
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="row align-items-center">
                  <mat-icon class="material-icons-round">question_answer</mat-icon>
                  <div class="col">
                    {{
                      (course.discussions?.length || 0) == 1
                        ? course.discussions?.length + ' Question'
                        : (course.discussions?.length || 0) + ' Questions'
                    }}
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top: 1.5rem" *ngIf="isJoined">
        <div class="col-sm-12">
          <app-joined-course [course]="course"></app-joined-course>
        </div>
      </div>
    </div>
  </div>
</div>
