.mat-card-title {
  margin-bottom: 0;
}

.title-row {
  margin: 0.75rem 0.25rem 0.25rem 0.25rem;
}

.uni-row {
  margin: 1rem 0.25rem 0.25rem 0.25rem;
}

.uni-row h3 {
  margin-bottom: 0;
}

.join-button {
  width: 100px;
  height: 50px;
  font-size: large;
  text-align: center;
  border-radius: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

.button-row {
  margin: 2rem 0.25rem 0.25rem 0.25rem;
  color: #525252;
}

.uni-logo {
  padding-left: 0;
  padding-right: 2%;
}

.uni-name {
  padding-left: 0;
}
