.offer-card-margins {
  margin-top: 1.5rem;
}

.edit-profile-margins {
  margin-top: 1.5rem;
}

.offer-header-text {
  margin-bottom: 0;
  text-align: center;
}

.list-box {
  height: 400px;
  display: block;
  border: 1.5px solid black;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: white;
}

.btn-primary {
  background-color: #40dda5;
  border-color: #40dda5;
}

.btn-secondary {
  background-color: #ffffff;
  color: black;
}
.card-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.icon-display {
  transform: scale(2);
}

.highlighted {
  background-color: #40dda5;
  color: white;
}

.delete {
  background-color: transparent;
  border: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #40dda5;
}

.profile-button {
  background: #40dda5;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #1bd693;
}

.profile-button:focus {
  background: #1bd693;
  box-shadow: none;
}

.profile-button:active {
  background: #40dda5;
  box-shadow: none;
}

.back:hover {
  color: #40dda5;
  cursor: pointer;
}

.mat-card {
  border: none;
}

@media (max-width: 1300px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.edit-infos {
  height: 66%;
  display: block;
  overflow-x: hidden;
  padding: 0 4%;
}

.user-info {
  color: #141414;
}

.edit-profile {
  margin-bottom: 0;
  padding-top: 3%;
}

.pic-edit {
  height: 60px;
  width: 60px;
}

.text-center {
  padding: 3% 3% 0 3%;
}

.text-center-edit {
  padding: 5% 3% 0 3%;
}

b {
  font-size: 1.3rem;
}

.tab-label-icon {
  margin-right: 0.5rem;
}

.text-right {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-bottom: 1%;
}

ngb-rating {
  color: #ffc107;
  font-size: 2.5rem;
}

.rating-row {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.file-input {
  display: none;
}
