<mat-card class="person-card mat-elevation-z3" [routerLink]="['/user-profile/' + person._id]">
  <mat-card-header>
    <img mat-card-avatar src="/assets/student.png" />
    <mat-card-title>{{ person | name }}</mat-card-title>
    <mat-card-subtitle>{{ person | name: 'tag' }}</mat-card-subtitle>
  </mat-card-header>
  <div class="row justify-content-center rating-row">
    <div class="col">
      <ngb-rating [max]="5" [rate]="getRating()" readonly="true"></ngb-rating>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm" *ngIf="!isPal">
      <div class="row justify-content-start">
        <div class="col">{{ tutorRate | currency: 'EUR' }} / hour</div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row justify-content-end">
        <div class="col" style="text-align: end">
          <button
            mat-raised-button
            color="primary"
            (click)="request(); $event.stopPropagation()"
            [disabled]="isRequestButtonDisabled()"
          >
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
