.person-card {
  margin: 5% 1% 5% 1%
}

ngb-rating {
  color: #ffc107;
  font-size: 2.5rem;
}

.rating-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

mat-card-header {
  cursor: pointer;
}
