<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <mat-tab-group mat-align-tabs="center" dynamicHeight mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-round tab-label-icon">people_outline</mat-icon>
            Member Courses
          </ng-template>
          <app-course-tab
            *ngIf="memberCourses?.length > 0; else elseBlock1"
            [courses]="memberCourses"
            [uniList]="uniList"
          ></app-course-tab>
          <ng-template #elseBlock1>
            <h1 #elseBlock1 class="empty-list-message">You aren't a member in any courses yet!</h1>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-round tab-label-icon">local_library</mat-icon>
            Pal Courses
          </ng-template>
          <app-course-tab
            *ngIf="palCourses?.length > 0; else elseBlock2"
            [courses]="palCourses"
            [uniList]="uniList"
          ></app-course-tab>
          <ng-template #elseBlock2>
            <h1 #elseBlock2 class="empty-list-message">
              You aren't a study pal in any courses yet!
            </h1>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="material-icons-round tab-label-icon">support_agent</mat-icon>
            Tutor Courses
          </ng-template>
          <app-course-tab
            *ngIf="tutorCourses?.length > 0; else elseBlock3"
            [courses]="tutorCourses"
            [uniList]="uniList"
          ></app-course-tab>
          <ng-template #elseBlock3>
            <h1 class="empty-list-message">You aren't a tutor in any courses yet!</h1>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
