#matIcon {
  vertical-align: sub;
  font-size: 30px;
  margin-right: 6px;
}

.sidebar-rightbar-button {
  text-align: left;
  font-size: 1.4rem;
  width: 250px;
  background-color: #132a3a;
  color: white;
}
