<mat-nav-list>
  <p>
    <button
      mat-raised-button
      color="accent"
      class="sidebar-rightbar-button"
      [routerLink]="['/personal-profile']"
    >
      <mat-icon id="matIcon">settings</mat-icon>
      Profile Settings
    </button>
  </p>
  <p>
    <button mat-raised-button class="sidebar-rightbar-button" (click)="logout()" color="accent">
      <mat-icon id="matIcon">logout</mat-icon>
      Logout
    </button>
  </p>
</mat-nav-list>
