<footer class="footer container-fluid">
  <div class="row justify-content-start align-items-center">
    <div class="col-4">
      <span>Contact us: info@vemos.com</span>
    </div>
    <div class="col-4">
      <div class="row justify-content-center align-items-center">
        <img
          class="col-auto unipal-logo"
          src="../../../assets/img/unipal-logo/Unipal_logo_sign_only.svg"
          width="32"
          height="32"
        />
        <p class="unipal-copyright">UniPal &copy; {{ year }}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row justify-content-end align-items-center">
        <img
          class="col-auto"
          src="../../../assets/img/vemos-logo/VemOs_logo_inverse_light.svg"
          width="60"
          height="60"
        />
      </div>
    </div>
  </div>
</footer>
