.footer {
  background-color: #132a3a;
  color: white;
}

.footer p {
  margin-bottom: 0;
}

.vemos-text {
  margin-bottom: 0;
}

.unipal-copyright {
  padding-top: 0.3rem;
  padding-right: 1rem;
}

.unipal-logo {
  padding-right: 0.2rem;
  padding-left: 0;
}
