.mat-h3 {
  margin-bottom: 0;
}

.homepage-card {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
  background-color: #fefefe;
}

.homepage-card:hover {
  margin: 0.25rem 0.25rem 0.5rem 0.25rem;
  /* SIZE OF CARD ON HOVER */
  transform: scale(1.01);

  /* NORMAL SHADOW */
  box-shadow: 0px 1px 7px -2.5px #132a3a;
}

.text-box {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

