<div class="container">
  <div class="row">
    <ul class="breadcrumbs_overall">
      <li class="breadcrumbs__item">
        <a [routerLink]="['/course/' + discussion.course['_id']]" class="breadcrumbs__link">
          {{ discussion.course['name'] }}
        </a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item_current">Course Discussion</li>
    </ul>
  </div>
  <app-question-card
    [card]="{
      id: discussion._id,
      creator: discussion.creator,
      title: discussion.title,
      mainText: discussion.questionText,
      likes: discussion.likes,
      likedBy: discussion.likedBy,
      commentsTotal: discussion.commentsTotal,
      date: discussion.creationDate,
      course: discussion.course['_id']
    }"
    (updateDiscussion)="updateDiscussion($event)"
  ></app-question-card>

  <hr class="divider" />

  <app-answer-card
    *ngFor="let comment of commentsArray"
    [card]="{
      id: comment._id,
      parentId: discussion._id,
      creator: comment.creator,
      mainText: comment.text,
      likes: comment.likes,
      likedBy: comment.likedBy,
      date: comment.creationDate
    }"
    (updateDiscussion)="updateDiscussion($event)"
  ></app-answer-card>
  <mat-paginator
    *ngIf="discussion.commentsTotal > 0"
    class="app-paginator"
    style="margin-right: 1rem"
    [length]="discussion.commentsTotal"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20, 30]"
    (page)="paginatorButton($event)"
  >
  </mat-paginator>
</div>
